@charset "utf-8";
#box {
	height: 980px;
	width: 850px;
	margin-right: auto;
	margin-left: auto;
}
#top {
	height: 250px;
	width: 850px;
}
#nav {
	height: 50px;
	width: 850px;
	background-color: #FCC;
}
#contant {
	height: 630px;
	width: 850px;
}
#bottom {
	text-align: center;
	height: 40px;
	width: 850px;
	padding-top: 10px;
	color: #F69;
	background-color: #FCC;
}
a:link {
	color: #F69;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #F69;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}/* CSS Document */

