@charset "utf-8";
#box {
	height: 850px;
	width: 850px;
	margin-right: auto;
	margin-left: auto;
}
#top {
	height: 250px;
	width: 850px;
}
#nav {
	height: 50px;
	width: 850px;
	background-color: #FCC;
}
#contant {
	height: 450px;
	width: 850px;
	
	background-size: cover;
	position: relative;
	padding-top: 50px;
	font-size: 18px;
	font-family: "微软雅黑";
}
#bottom {
	text-align: center;
	height: 40px;
	width: 850px;
	padding-top: 10px;
	color: #F69;
	background-color: #FCC;
}
a:link {
	color: #F69;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #F69;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

li{line-height:40px;}

a {
	font-weight: bold;
}/* CSS Document */

